<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Pacientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='triage_style.css') }}">
</head>
<body>
    <h1>Lista de Pacientes</h1>

    <h2>Pacientes Nivel 1 - Emergencia</h2>
    <table class="emergencia">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Fecha de Ingreso</th>
            </tr>
        </thead>
        <tbody>
            {% for paciente in pacientes_nivel_1 %}
                <tr>
                    <td>{{ paciente[1] }}</td>
                    <td>{{ paciente[2] }}</td>
                    <td>{{ paciente[4] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Pacientes Nivel 2 - Urgente</h2>
    <table class="urgente">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Fecha de Ingreso</th>
            </tr>
        </thead>
        <tbody>
            {% for paciente in pacientes_nivel_2 %}
                <tr>
                    <td>{{ paciente[1] }}</td>
                    <td>{{ paciente[2] }}</td>
                    <td>{{ paciente[4] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Pacientes Nivel 3 - No Urgente</h2>
    <table class="no-urgente">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Fecha de Ingreso</th>
            </tr>
        </thead>
        <tbody>
            {% for paciente in pacientes_nivel_3 %}
                <tr>
                    <td>{{ paciente[1] }}</td>
                    <td>{{ paciente[2] }}</td>
                    <td>{{ paciente[4] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
